*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: #2B3643;
    padding: 10px;
}

nav p{
    display: inline;
    font-size: 17px;
    font-weight: 500;
}

.btn{
    color: #1e1e1e;
    /* background-color: #1e1e1e; */
}

.btn:hover{
    cursor: pointer;
    color: cyan;
}

.btn{
    font-size: 20px;
    color: white;
}

.btn.click:before{
    content: '\f00d';
}
.sidebar{
    position: relative;
    width: 230px;
    min-height: 88vh;
    left: 0;
    background-color: #364150;
    transition: .3s;
}

.sidebar .text{
    color: #EEEED7;
    font-size: 18px;
    margin: 10px 0 15px 10px;
}

.sidebar.hide{
    left: -250px;
}

div ul {
    background-color: #364150;
    width: 100%;
    /* height: 100%; */
    padding: 0 0 0 0;
    list-style: none;
    
}

div ul li {
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

div ul li:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

div ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #EEEED7;
    padding: 0 0 0 20px;
    /* font-weight: 500; */
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    position: relative;
}
div ul li a:hover{
    color: #57D4F7;
    background-color: rgba(255, 255, 255, .1);
    border-left: 3px solid #57D4F7;
}
div ul li.active a{
    color: cyan;
    background-color: #364150;
    border-left: 3px solid cyan;
}

div ul ul {
    position: static;
    display: none;
}

/* jQuery */
    div ul .feature-show.show,
    div ul .skripsi-show.show,
    div ul .akademik-show.show{
        display: block;
    }
/* End */

div ul ul li {
    line-height: 42px;
    border-bottom: none;
}

div ul ul li a {
    font-size: 15px;
    padding: 0 0 0 35px;
}

div ul li.active ul li a{
    color: white;
    background-color: #364150;
    border-left: transparent;
}

div ul ul li a:hover{
    color: #EEEED7;
    background: rgba(255, 255, 255, .1);
}

div ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 20px;
    transform: translateY(-50%);
    transition: transform .2s;
}

div ul li a span.rotate {
    transform: translateY(-50%) rotate(-90deg);
}

.main{
    transition: .3s;
}

.main.respon{
    margin: 0 0 0 -230px;
}

footer{
    background-color: #364150;
    padding: 8px;
    color: white;
    text-align: end;
}

@media screen and (max-width : 991px) {
    .sidebar {
        left: -260px;
    }
    .btn{
        display: none;
    }
    .main{
        margin: 0 0 0 -230px;
    }
}